body{
   background-color: lightslategrey;
}

.gif-container{
   max-width: 70vw;
   height: 80vh;
   background-color:seagreen;
   border: 2vw solid #ffffff;
   box-shadow: 2vw 2vw 2vw rgba(0,0,0, 0.3);
   margin: 5vh auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.gif-wrapper{
   width: 25rem;
   height: 25rem;
   display: flex;
   flex-direction: row; 
   /* overflow: hidden; */
   border-radius: 5%;
   margin-top: 6%;
}

.gif-wrapper img {
   max-width: none;
   min-width: auto;
   min-height: auto;
   height: 100%;
}

.text{
   color: #ffffff;
   font-size: 1.5rem; 
}

/* .first-slide{
   transform: translate(-150%);
}
.second-slide{
   transform: translate(-80%);
} */


.input-container{
   margin-top: 0.3em;
   margin-left: 15.3em;
   display: flex;
   flex-wrap: nowrap;
}

.input-container input{
   width: 20px;
   height: 20px;
   font-size: 0px;
   cursor: pointer;
}
