:root{
   --color-container: #008fa5;
   --color-body: #45322E;
}


body{
   background-color: var(--color-body);
}
.gif-container{
   max-width: 50em;
   max-height: 60em;
   background-color: var(--color-container);
   border: 1.2em solid #ffffff;
   box-shadow: 2vw 2vw 2vw rgba(0,0,0, 0.3);
   margin: 10vh auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}
.gif-label-wrapper{
   width: 30em;
   margin: 0em -2.5em;
}
.gif-wrapper{
   width: 25rem;
   height: 25rem;
   display: flex;
   flex-direction: row; 
   margin: 1.5em auto;
   clip-path: url(#clipping); /*маска*/ 
}



/*размер маски*/
.rect {
   width: 25rem;
   height: 30rem;  
}

.gif-wrapper img {
   max-width: none;
   min-width: auto;
   min-height: auto;
   height: 100%;
}

.slide4 img{
   width: 25rem;
   overflow: hidden ;  
}

.text-label-container{
   display: flex;
    margin: 0.7em 0 2em 2.5em;
    width: 23em;
    height: 5em;
    justify-content: space-between;
}

.text-gif div{
   margin-top: 0.2em;
   color: #ffffff;
   font-size: 1.5rem; 
   width: 75em; 
   height: 2em;
}

.text-gif{
   overflow: hidden;
}

.text{
  
    display: flex;
}

input{
   display: none;
}

.input-container{
   width: 11em;
   height: 2em;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
}



/*стилизация inputов*/
.label {
   position: relative;
   height: 2em;
   width: 2em;
   appearance: none;
   outline: none;
   cursor: pointer;
   top: 50%;
   left: 10%;
   margin-left: 19px;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--color-body); 
}


/*увеличиваем область нажатия*/
label::before {
   content: '';
   cursor: pointer;
   height: 3.5em;
   width: 3.5em;
   display: inline-block;
   position: relative;
   top: -8px;
   left: -6px;
}
/*стиль input после нажатия*/
#radio1:checked ~ .gif-container .input-container .label1::after,
#radio2:checked ~ .gif-container .input-container .label2::after,
#radio3:checked ~ .gif-container .input-container .label3::after,
#radio4:checked ~ .gif-container .input-container .label4::after {
   content: '';
   display: block;
   position: relative;
   width: 1.5em;
   height: 1.5em;
   top: -56px;
   left: 4px;
   background-color: var(--color-container);
   border-radius: 50%;
}

label:hover{
   background-color: #ffffff;
   height: 2em;
   width: 2em;
   border-radius: 50%;  
}

#radio1:checked ~ .gif-container .gif-wrapper .slide1,
#radio1:checked ~ .gif-container .gif-label-wrapper .text-label-container .text-gif .text1{
   /* transform: translateX(-225%);    */
   margin-left: 0em;
   transition: ease-in-out 1s;
}

#radio2:checked ~ .gif-container .gif-wrapper .slide1,
#radio2:checked ~ .gif-container .gif-label-wrapper .text-label-container .text-gif .text1{
   margin-left: -25em;
   transition: ease-in-out 1s;
}

#radio3:checked ~ .gif-container .gif-wrapper .slide1{
   /* transform: translateX(-80%);    */
   margin-left: -56.2em;
   transition: ease-in-out 1s;
}
#radio3:checked ~ .gif-container .gif-label-wrapper .text-label-container .text-gif .text1{
   margin-left: -75em;
   transition: ease-in-out 0.9s;
}

#radio4:checked ~ .gif-container .gif-wrapper .slide1{
   /* transform: translateX(-225%);    */
   margin-left: -100em;
   transition: ease-in-out 1s;
}

#radio4:checked ~ .gif-container .gif-label-wrapper .text-label-container .text-gif .text1{
   /* transform: translateX(-225%);    */
   margin-left: -225em;
   transition: ease-in-out 0.7s;
}



